﻿*[role="form"] {
    max-width: 550px;
    padding: 15px;
    margin: 0 auto;
    border-radius: 0.3em;
    background-color: #f2f2f2;
}

*[role="grid"] {
    padding: 15px;
    margin: 0 0px;
    border-radius: 0.3em;
    background-color: #f2f2f2;
}

*[role="form"] h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #000000;
    margin-top: 5%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}

*[role="grid"] h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #000000;
    margin-top: 0%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}

*[role="form"] label {
    font-weight: bold;
}

*[role="grid"] input {
    margin: 5px;
}

#ModalWindowId {
    font-weight: bold;
}