﻿@{
    Layout = "_Layout";
}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="~/css/Admin.css">

<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <a data-toggle="collapse" href="#demo">Students</a>
    <div id="demo" class="collapse">
        <a asp-controller="Admin" asp-action="ListStudents">List</a>
        <a asp-controller="Admin" asp-action="CreateStudent">Create</a>
    </div>
    <a data-toggle="collapse" href="#demo2">Disciplines</a>
    <div id="demo2" class="collapse">
        <a asp-controller="Admin" asp-action="ListDisciplines">List</a>
        <a asp-controller="Admin" asp-action="CreateDiscipline">Create</a>
    </div>
    <a data-toggle="collapse" href="#demo3">Lecturers</a>
    <div id="demo3" class="collapse">
        <a asp-controller="Admin" asp-action="ListLecturers">List</a>
        <a asp-controller="Admin" asp-action="CreateLecturer">Create</a>
    </div>
    <a data-toggle="collapse" href="#demo4">Availabilities</a>
    <div id="demo4" class="collapse">
        <a asp-controller="Admin" asp-action="ListDisciplineAvailabilities">List</a>
        <a asp-controller="Admin" asp-action="CreateDisciplineAvailability">Create</a>
    </div>
    <a asp-controller="Admin" asp-action="EditAdminData">Edit admin data</a>
    <a asp-controller="Admin" asp-action="AdminNotify">Send notify</a>
</div>
<div class="row">
    <div class="col">
        @RenderBody()
    </div>
</div>


