﻿@model DisciplinePicker.Web.ViewModels.AdminNotifyViewModel
@{
    ViewBag.Title = "Adding discipline";
    Layout = "~/Views/Admin/_AdminMaster.cshtml";
}
<link rel="stylesheet" href="~/css/AdminForms.css">

<div class="container">
    <form class="form-horizontal" role="form" asp-action="AdminNotify" asp-controller="Admin">
        <h2>Notification</h2>
        <div class="form-group row">
            <label for="inputDescription" class="col-sm-2 col-form-label">Notify</label>
            <div class="col-sm-9 ml-auto">
                <textarea asp-for="Notify" class="form-control" id="inputDescription" placeholder="Description" rows="3"></textarea>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <a class="btn btn-sm btn-grey" asp-action="ListDisciplineAvailabilities">Cancel</a>
                <button type="submit" class="btn btn-sm btn-primary">Send</button>
            </div>
        </div>
    </form>
</div>