﻿@model DisciplinePicker.Web.ViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = "Changing password";
    Layout = "~/Views/Admin/_AdminMaster.cshtml";
}
<link rel="stylesheet" href="~/css/AdminForms.css">

<div class="container">
    <form class="form-horizontal" role="form" asp-action="ChangePasswordStudent" asp-controller="Admin">
        <h2>Changing password</h2>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Login" />
        <div class="form-group row">
            <label for="inputOldPassword" class="col-sm-2 col-form-label">Old</label>
            <div class="col-sm-10">
                <input type="text" asp-for="OldPassword" class="form-control" id="inputOldPassword" placeholder="OldPassword">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputNewPassword" class="col-sm-2 col-form-label">New</label>
            <div class="col-sm-10">
                <input type="text" asp-for="NewPassword" class="form-control" id="inputNewPassword" placeholder="NewPassword">
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <a class="btn btn-sm btn-grey" asp-action="EditStudent" asp-route-id="@Model.Id">Cancel</a>
                <button type="submit" class="btn btn-sm btn-primary">Save</button>
            </div>
        </div>
    </form>
</div>