﻿@model DisciplinePicker.Web.ViewModels.CreateDisciplineAvailabilityViewModel
@{
    ViewBag.Title = "Adding discipline availability";
    Layout = "~/Views/Admin/_AdminMaster.cshtml";
}
<link rel="stylesheet" href="~/css/AdminForms.css">

<div class="container">
    <form class="form-horizontal" role="form" asp-action="CreateDisciplineAvailability" asp-controller="Admin">
        <h2>Creating</h2>
        <div class="form-group row">
            <label for="inputChoiseDiscipline" class="col-sm-2 col-form-label">Discipline</label>
            <div class="col-sm-9 ml-auto">
                <select type="text" id="inputChoiseDiscipline" asp-for="DisciplineId" class="form-control">
                    @foreach (var discipline in Model.Disciplines)
                    {
                        <option value="@discipline.Id">@discipline.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputYear" class="col-sm-2 col-form-label">Year</label>
            <div class="col-sm-9 ml-auto">
                <input type="number" asp-for="Year" class="form-control" id="inputYear">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputSemester" class="col-sm-2 col-form-label">Semester</label>
            <div class="col-sm-9 ml-auto">
                <input type="number" asp-for="Semester" class="form-control" id="inputSemester">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputHours" class="col-sm-2 col-form-label">Hours</label>
            <div class="col-sm-9 ml-auto">
                <input type="number" asp-for="Hours" class="form-control" id="inputHours" >
            </div>
        </div>
        <div class="form-group row">
            <label for="inputMinAllovedStudents" class="col-sm-3 col-form-label">Min students</label>
            <div class="col-sm-9 ml-auto">
                <input type="number" asp-for="MinAllovedStudents" class="form-control" id="inputMinAllovedStudents" >
            </div>
        </div>
        <div class="form-group row">
            <label for="inputMaxAllovedStudents" class="col-sm-3 col-form-label">Max students</label>
            <div class="col-sm-9 ml-auto">
                <input type="number" asp-for="MaxAllovedStudents" class="form-control" id="inputMaxAllovedStudents">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputChoiseLecturer" class="col-sm-2 col-form-label">Lecturer</label>
            <div class="col-sm-9 ml-auto">
                <select type="text" id="inputChoiseLecturer" asp-for="LecturerId" class="form-control">
                    @foreach (var lecturer in Model.Lecturers)
                    {
                        <option value="@lecturer.Id">@lecturer.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <a class="btn btn-sm btn-grey" asp-action="ListDisciplineAvailabilities">Cancel</a>
                <button type="submit" class="btn btn-sm btn-primary">Create</button>
            </div>
        </div>
    </form>
</div>