﻿@model DisciplinePicker.Web.ViewModels.CreateStudentViewModel
@{
    ViewBag.Title = "Adding student";
    Layout = "~/Views/Admin/_AdminMaster.cshtml";
}
<link rel="stylesheet" href="~/css/AdminForms.css">

<div class="container">
    <form class="form-horizontal" role="form" asp-action="CreateStudent" asp-controller="Admin">
        <h2>Creating</h2>
        <div class="form-group row">
            <label for="inputName" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-9 ml-auto">
                <input type="text" asp-for="Name" class="form-control" id="inputName" placeholder="Name">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputLogin" class="col-sm-2 col-form-label">Login</label>
            <div class="col-sm-9 ml-auto">
                <input type="text" asp-for="Login" class="form-control" id="inputLogin" placeholder="Login">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-9 ml-auto">
                <input type="text" asp-for="Password" class="form-control" id="inputPassword" placeholder="Password">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputGroup" class="col-sm-2 col-form-label">Group</label>
            <div class="col-sm-9 ml-auto">
                <input type="text" asp-for="Group" class="form-control" id="inputGroup" placeholder="Group">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputSpeciality" class="col-sm-2 col-form-label">Speciality</label>
            <div class="col-sm-9 ml-auto">
                <input type="text" asp-for="Speciality" class="form-control" id="inputSpeciality" placeholder="Speciality">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputDepartment" class="col-sm-2 col-form-label">Department</label>
            <div class="col-sm-9 ml-auto">
                <input type="text" asp-for="Department" class="form-control" id="inputDepartment" placeholder="Department">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputCourse" class="col-sm-2 col-form-label">Course</label>
            <div class="col-sm-9 ml-auto">
                <input type="number" asp-for="Course" class="form-control" id="inputCourse" placeholder="Course">
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <a class="btn btn-sm btn-grey" asp-action="ListStudents">Cancel</a>
                <button type="submit" class="btn btn-sm btn-primary">Create</button>
            </div>
        </div>
    </form>
</div>