﻿@model DisciplinePicker.Web.ViewModels.CreateLecturerViewModel
@{
    ViewBag.Title = "Adding lecturer";
    Layout = "~/Views/Admin/_AdminMaster.cshtml";
}
<link rel="stylesheet" href="~/css/AdminForms.css">

<div class="container">
    <form class="form-horizontal" role="form" asp-action="CreateLecturer" asp-controller="Admin">
        <h2>Creating</h2>
        <div class="form-group row">
            <label for="inputName" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-9 ml-auto">
                <input type="text" asp-for="Name" class="form-control" id="inputName" placeholder="Name">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputFaculty" class="col-sm-2 col-form-label">Faculty</label>
            <div class="col-sm-9 ml-auto">
                <input type="text" asp-for="Faculty" class="form-control" id="inputFaculty" placeholder="Faculty">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputDepartment" class="col-sm-2 col-form-label">Department</label>
            <div class="col-sm-9 ml-auto">
                <input type="text" asp-for="Department" class="form-control" id="inputDepartment" placeholder="Department">
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <a class="btn btn-sm btn-grey" asp-action="ListLecturers">Cancel</a>
                <button type="submit" class="btn btn-sm btn-primary">Create</button>
            </div>
        </div>
    </form>
</div>