﻿@model DisciplinePicker.Web.ViewModels.EditAdminDataViewModel
@{
    ViewBag.Title = "Editing lecturer";
    Layout = "~/Views/Admin/_AdminMaster.cshtml";
}
<link rel="stylesheet" href="~/css/AdminForms.css">

<div class="container">
    <form class="form-horizontal" role="form" asp-action="EditAdminData" asp-controller="Admin">
        <h2>Editing</h2>
        <div class="form-group">
            <input type="hidden" asp-for="Id" />
        </div>
        <div class="form-group row">
            <label for="inputLogin" class="col-sm-3 col-form-label">Login</label>
            <div class="col-sm-9 ml-auto">
                <input type="text" asp-for="Login" class="form-control" id="inputLogin" placeholder="Login">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputOldPassword" class="col-sm-3 col-form-label">Old password</label>
            <div class="col-sm-9 ml-auto">
                <input type="text" asp-for="OldPassword" class="form-control" id="inputOldPassword" placeholder="Old password">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputNewPassword" class="col-sm-3 col-form-label">New password</label>
            <div class="col-sm-9 ml-auto">
                <input type="text" asp-for="NewPassword" class="form-control" id="inputNewPassword" placeholder="New password">
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <a class="btn btn-sm btn-grey" asp-action="ListDisciplineAvailabilities">Cancel</a>
                <button type="submit" class="btn btn-sm btn-primary">Save</button>
            </div>
        </div>
    </form>
</div>