﻿
@model DisciplinePicker.Web.ViewModels.EditDisciplineViewModel
@{
    ViewBag.Title = "Editing duscipline";
    Layout = "~/Views/Admin/_AdminMaster.cshtml";
}
<link rel="stylesheet" href="~/css/AdminForms.css">

<div class="container">
    <form class="form-horizontal" role="form" asp-action="EditDiscipline" asp-controller="Admin">
        <h2>Editing</h2>
        <div class="form-group">
            <input type="hidden" asp-for="Id" />
        </div>
        <div class="form-group row">
            <label for="inputName" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-9 ml-auto">
                <input type="text" asp-for="Name" class="form-control" id="inputName" placeholder="Name">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputFaculty" class="col-sm-2 col-form-label">Speciality</label>
            <div class="col-sm-9 ml-auto">
                <input type="text" asp-for="Faculty" class="form-control" id="inputFaculty" placeholder="Faculty">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputDepartment" class="col-sm-2 col-form-label">Department</label>
            <div class="col-sm-9 ml-auto">
                <input type="text" asp-for="Department" class="form-control" id="inputDepartment" placeholder="Department">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputDescription" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-9 ml-auto">
                <textarea asp-for="Description" class="form-control" id="inputDescription" placeholder="Description" rows="3"></textarea>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <a class="btn btn-sm btn-grey" asp-action="ListDisciplines">Cancel</a>
                <button type="submit" class="btn btn-sm btn-primary">Save</button>
            </div>
        </div>
    </form>
</div>