﻿@model DisciplinePicker.Web.ViewModels.EditStudentViewModel
@{
    ViewBag.Title = "Editing student";
    Layout = "~/Views/Admin/_AdminMaster.cshtml";
}
<link rel="stylesheet" href="~/css/AdminForms.css">

<div class="container">
    <form class="form-horizontal" role="form" asp-action="EditStudent" asp-controller="Admin">
        <h2>Editing</h2>
        <div class="form-group">
            <input type="hidden" asp-for="Id" />
        </div>
        <div class="form-group row">
            <label for="inputName" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-9 ml-auto">
                <input type="text" asp-for="Name" class="form-control" id="inputName" placeholder="Name">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputLogin" class="col-sm-2 col-form-label">Login</label>
            <div class="col-sm-9 ml-auto">
                <input type="text" asp-for="Login" class="form-control" id="inputLogin" placeholder="Login">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputGroup" class="col-sm-2 col-form-label">Group</label>
            <div class="col-sm-9 ml-auto">
                <input type="text" asp-for="Group" class="form-control" id="inputGroup" placeholder="Group">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputSpeciality" class="col-sm-2 col-form-label">Speciality</label>
            <div class="col-sm-9 ml-auto">
                <input type="text" asp-for="Speciality" class="form-control" id="inputSpeciality" placeholder="Speciality">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputDepartment" class="col-sm-2 col-form-label">Department</label>
            <div class="col-sm-9 ml-auto">
                <input type="text" asp-for="Department" class="form-control" id="inputDepartment" placeholder="Department">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputCourse" class="col-sm-2 col-form-label">Course</label>
            <div class="col-sm-9 ml-auto">
                <input type="number" asp-for="Course" class="form-control" id="inputCourse" placeholder="Course">
            </div>
        </div>
        <a class="btn btn-block btn-success" asp-action="ChangePasswordStudent" asp-route-id="@Model.Id">Change password</a>
        <div class="container">
            <div class="row justify-content-center">
                <a class="btn btn-sm btn-grey" asp-action="ListStudents">Cancel</a>
                <button type="submit" class="btn btn-sm btn-primary">Save</button>
            </div>
        </div>
    </form>
</div>