﻿@model DisciplinePicker.Web.ViewModels.ListLecturersViewModel
@{
    ViewBag.Title = "List of lecturer";
    Layout = "~/Views/Admin/_AdminMaster.cshtml";
}
<link rel="stylesheet" href="~/css/AdminForms.css">

<form class="form-horizontal" role="grid" method="get">
    <div class="row justify-content-md-center">
        <div class="col-3">
            <input name="name" style="font-size:14px" class="form-control" placeholder="Name" />
        </div>
        <div class="col-3">
            <input name="department" style="font-size:14px" class="form-control" placeholder="Department" />
        </div>
        <div class="col-3">
            <input name="course" style="font-size:14px" class="form-control" placeholder="Faculty" />
        </div>
        <div class="col-2">
            <input type="submit" value="Filter" class="btn btn-sm btn-orange" />
        </div>
    </div>
</form>

<table id="dtBasicExample" cellspacing="0"
       class="table table-striped table-bordered"
       style="width:100%">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Department</th>
            <th scope="col">Faculty</th>
            <th scope="col">Disciplines</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @{ int counter = 1;
            foreach (var user in Model.Lecturers.OrderBy(x => x.Name))
            {
        <tr>
            <td class="align-middle" align="center" scope="row">@counter</td>
            <td class="align-middle" align="center">@user.Name</td>
            <td class="align-middle" align="center">@user.Department</td>
            <td class="align-middle" align="center">@user.Faculty</td>
            <td class="align-middle" align="center">
                <a class="btn btn-indigo btn-sm m-0" style="padding-left:15px; padding-right:15px;" asp-action="ListDisciplinesOfLecturer" asp-route-id="@user.Id">Disciplines</a>
            </td>
            <td class="align-middle">
                <div class="row justify-content-center">
                    <form style="width:105px;" asp-action="DeleteLecturer" asp-route-id="@user.Id" method="post">
                        <div class="row">
                            <div class="col-4">
                                <a class="btn btn-sm btn-primary" style="padding-left:10px; padding-right:10px; margin-top:5px;" asp-action="EditLecturer" asp-route-id="@user.Id">Edit</a>
                            </div>
                            <div class="col-6">
                                <input class="btn btn-sm btn-danger" style="padding-left:5px; padding-right:5px;" type="submit" value="Delete" />
                            </div>
                        </div>
                    </form>
                </div>
            </td>
        </tr>
                counter++;
            }
        }
    </tbody>
</table>