﻿@model DisciplinePicker.Web.ViewModels.ListStudentsOfDisciplineAvailabilitiesViewModel
@{
    ViewBag.Title = "List students of dsicipline availability";
    Layout = "~/Views/Admin/_AdminMaster.cshtml";
}
<link rel="stylesheet" href="~/css/AdminForms.css">

<form class="row form-horizontal" role="grid" method="get">
    <div class="col-auto mr-auto my-auto">
        <p style="font-size:32px">@Model.Name @Model.Year, Semester @Model.Semestr</p>
    </div>
    <div class="col-auto my-auto">
        <a class="btn btn-sm btn-dark" asp-action="ListDisciplineAvailabilities">Back</a>
    </div>
</form>

@*<div class="row alert alert-info clearfix">
    <div class="col-auto mr-auto my-auto">
        <p style="font-size:32px">@Model.Name @Model.Year, Semester @Model.Semestr</p>
    </div>
    <div class="col-auto my-auto">
        <a class="btn btn-sm btn-dark" asp-action="ListDisciplineAvailabilities">Back</a>
    </div>
</div>*@

<table id="dtBasicExample" cellspacing="0"
       class="table table-striped table-bordered"
       style="width:100%">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Group</th>
            <th scope="col">Speciality</th>
            <th scope="col">Department</th>
        </tr>
    </thead>
    <tbody>
        @{ int counter = 1;
            foreach (var user in Model.Students.OrderBy(x => x.Name))
            {
                <tr>
                    <td class="align-middle" align="center" scope="row">@counter</td>
                    <td class="align-middle" align="center">@user.Name</td>
                    <td class="align-middle" align="center">@user.Group</td>
                    <td class="align-middle" align="center">@user.Speciality</td>
                    <td class="align-middle" align="center">@user.Department</td>
                </tr>
                counter++;
            }
        }
    </tbody>
</table>