﻿@model DisciplinePicker.Web.ViewModels.ListDisciplinesOfLecturerViewModel
@{
    ViewBag.Title = "List disciplines of student";
    Layout = "~/Views/Admin/_AdminMaster.cshtml";
}
<link rel="stylesheet" href="~/css/AdminForms.css">

<form class="row form-horizontal" role="grid" method="get">
    <div class="col-auto mr-auto my-auto">
        <p style="font-size:32px">@Model.Name</p>
    </div>
    <div class="col-auto my-auto">
        <a class="btn btn-sm btn-dark" asp-action="ListLecturers">Back</a>
    </div>
</form>

<table id="dtBasicExample" cellspacing="0"
       class="table table-striped table-bordered"
       style="width:100%">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Year</th>
            <th scope="col">Semester
            <th scope="col">Hours</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @{ int counter = 1;
            foreach (var u in Model.DisciplineAvailabilities.OrderByDescending(x => x.Year))
            {
                <tr>
                    <td class="align-middle" align="center" scope="row">@counter</td>
                    <td class="align-middle" align="center">@u.Discipline.Name</td>
                    <td class="align-middle" align="center">@u.Year</td>
                    <td class="align-middle" align="center">@u.Semester</td>
                    <td class="align-middle" align="center">@u.Hours</td>
                    <td class="align-middle" align="center">
                        <form>
                            <input type="button" class="btn btn-sm btn-info"
                                   style="padding-left:15px; padding-right:15px;"
                                   data-toggle="modal"
                                   value="Info"
                                   data-target="#exampleModal"
                                   href="javascript:void(0)"
                                   onClick="disciplineDataWindowModel('@u.Discipline.Name', '@u.Discipline.Description', '@u.Discipline.Department', '@u.Discipline.Faculty', '@u.MinAllovedStudents', '@u.MaxAllovedStudents')" />
                        </form>
                    </td>
                </tr>
                counter++;
            }
        }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 ID="Name" class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-5">
                        <p id="ModalWindowId">Department</p>
                    </div>
                    <div class="col-7">
                        <p id="Department"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <p id="ModalWindowId">Faculty</p>
                    </div>
                    <div class="col-7">
                        <p id="Faculty"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <p id="ModalWindowId">Min allowed students</p>
                    </div>
                    <div class="col-7">
                        <p id="MinAllowedStudents"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <p id="ModalWindowId">Max allowed students</p>
                    </div>
                    <div class="col-7">
                        <p id="MaxAllowedStudents"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <p id="ModalWindowId">Description</p>
                    </div>
                    <div class="col-7">
                        <p ID="Description"></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-grey" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>