﻿@model DisciplinePicker.Web.ViewModels.ListStudentsViewModel
@{
    ViewBag.Title = "List of students";
    Layout = "~/Views/Admin/_AdminMaster.cshtml";
}
<link rel="stylesheet" href="~/css/AdminForms.css">

<form class="form-horizontal" role="grid" method="get">
    <div class="row justify-content-md-center">
        <div class="col-2">
            <input name="name" asp-for="Name" style="font-size:14px" class="form-control" placeholder="Name" />
        </div>
        <div class="col-2">
            <input name="group" asp-for="Group" style="font-size:14px" class="form-control" placeholder="Group" />
        </div>
        <div class="col-2">
            <input name="speciality" asp-for="Speciality" style="font-size:14px" class="form-control" placeholder="Speciality" />

        </div>
        <div class="col-2">
            <input name="department" asp-for="Department" style="font-size:14px" class="form-control" placeholder="Department" />

        </div>
        <div class="col-2">
            <input name="course" asp-for="Course" style="font-size:14px" class="form-control" placeholder="Course" />

        </div>
        <div class="col-2">
            <input type="submit" value="Filter" class="btn btn-sm btn-orange" />

        </div>
    </div>
</form>

<table id="dtBasicExample" cellspacing="0"
        class="table table-striped table-bordered"
        style="width:100%">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Group</th>
            <th scope="col">Speciality</th>
            <th scope="col">Department</th>
            <th scope="col">Course</th>
            <th scope="col">Disciplines</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @{ int counter = 1;
            foreach (var user in Model.Students.OrderBy(x => x.Name))
            {
                <tr>
                    <td class="align-middle" align="center" scope="row">@counter</td>
                    <td class="align-middle" align="center">@user.Name</td>
                    <td class="align-middle" align="center">@user.Group</td>
                    <td class="align-middle" align="center">@user.Speciality</td>
                    <td class="align-middle" align="center">@user.Department</td>
                    <td class="align-middle" align="center">@user.Course</td>
                    <td class="align-middle" align="center">
                        <form>
                            <a class="btn btn-indigo btn-sm m-0" style="padding-left:15px; padding-right:15px;" asp-action="ListDisciplinesOfStudent" asp-route-id="@user.Id">Disciplines</a>
                        </form>
                    </td>
                    <td class="align-middle">
                        <div class="row justify-content-center">
                            <form style="width:105px;" asp-action="DeleteStudent" asp-route-id="@user.Id" method="post">
                                <div class="row">
                                    <div class="col-4">
                                        <a class="btn btn-sm btn-primary" style="padding-left:10px; padding-right:10px; margin-top:5px;" asp-action="EditStudent" asp-route-id="@user.Id">Edit</a>
                                    </div>
                                    <div class="col-6">
                                        <input class="btn btn-sm btn-danger" style="padding-left:5px; padding-right:5px;" type="submit" value="Delete" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </td>
                </tr>
                counter++;
            }
        }
    </tbody>
</table>
