﻿@model DisciplinePicker.Web.ViewModels.ListDisciplineAvailabilitiesViewModel
@{
    ViewBag.Title = "List of discipline availabilities";
    Layout = "~/Views/Admin/_AdminMaster.cshtml";
}
<link rel="stylesheet" href="~/css/AdminForms.css">

<form class="form-horizontal" role="grid" method="get">
    <div class="row justify-content-md-center">
        <div class="col-2">
            <input name="name" asp-for="Name" style="font-size:14px" class="form-control" placeholder="Name" />
        </div>
        <div class="col-2">
            <input name="year" asp-for="Year" style="font-size:14px" class="form-control" placeholder="Year" />
        </div>
        <div class="col-2">
            <input name="semester" asp-for="Semester" style="font-size:14px" class="form-control" placeholder="Semester" />
        </div>
        <div class="col-2">
            <input name="lecturer" asp-for="Lecturer" style="font-size:14px" class="form-control" placeholder="Lecturer" />
        </div>
        <div class="col-1">
            <input type="submit" value="Filter" class="btn btn-sm btn-orange" />
        </div>
    </div>
</form>

<table id="dtBasicExample" cellspacing="0"
       class="table table-striped table-bordered"
       style="width:100%">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Year</th>
            <th scope="col">Semester</th>
            <th scope="col">Hours</th>
            <th scope="col">Lecturers</th>
            <th scope="col">Students</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @{ int counter = 1;
            foreach (var user in Model.DisciplineAvailabilities.OrderBy(x => x.Discipline.Name))
            {
        <tr>
            <td class="align-middle" align="center" scope="row">@counter</td>
            <td class="align-middle" align="center">@user.Discipline.Name</td>
            <td class="align-middle" align="center">@user.Year</td>
            <td class="align-middle" align="center">@user.Semester</td>
            <td class="align-middle" align="center">@user.Hours</td>
            <td class="align-middle" align="center">@user.Lecturer.Name</td>
            <td class="align-middle" align="center">
                <a class="btn btn-indigo btn-sm m-0" style="padding-left:15px; padding-right:15px;"
                    asp-action="ListStudentsOfDisciplineAvailability" asp-route-id="@user.Id">Students</a>
            </td>
            <td class="align-middle">
                <div class="row justify-content-center">
                    <form style="width:105px;" asp-action="DeleteDisciplineAvailability" asp-route-id="@user.Id" method="post">
                        <div class="row">
                            <div class="col-4">
                                <a class="btn btn-sm btn-primary" style="padding-left:10px; padding-right:10px; margin-top:5px;" asp-action="EditDisciplineAvailability" asp-route-id="@user.Id">Edit</a>
                            </div>
                            <div class="col-6">
                                <input class="btn btn-sm btn-danger" style="padding-left:5px; padding-right:5px;" type="submit" value="Delete" />
                            </div>
                        </div>
                    </form>
                </div>
            </td>
            <td class="align-middle" align="center">
                <form>
                    <input type="button" class="btn btn-sm btn-info"
                           style="padding-left:15px; padding-right:15px;"
                           data-toggle="modal"
                           value="Info"
                           data-target="#exampleModal"
                           href="javascript:void(0)"
                           onClick="disciplineDataWindowModel('@user.Discipline.Name', '@user.Discipline.Description', '@user.Discipline.Department', '@user.Discipline.Faculty', '@user.MinAllovedStudents', '@user.MaxAllovedStudents')" />
                </form>
            </td>
        </tr>
                counter++;
            }
        }
    </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 ID="Name" class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-5">
                        <p id="ModalWindowId">Department</p>
                    </div>
                    <div class="col-7">
                        <p id="Department"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <p id="ModalWindowId">Faculty</p>
                    </div>
                    <div class="col-7">
                        <p id="Faculty"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <p id="ModalWindowId">Min allowed students</p>
                    </div>
                    <div class="col-7">
                        <p id="MinAllowedStudents"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <p id="ModalWindowId">Max allowed students</p>
                    </div>
                    <div class="col-7">
                        <p id="MaxAllowedStudents"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <p id="ModalWindowId">Description</p>
                    </div>
                    <div class="col-7">
                        <p ID="Description"></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-grey" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
