﻿@model DisciplinePicker.Web.ViewModels.ListDisciplinesViewModel
@{
    ViewBag.Title = "List of disciplines";
    Layout = "~/Views/Admin/_AdminMaster.cshtml";
}

<link rel="stylesheet" href="~/css/AdminForms.css">

<form class="form-horizontal" role="grid" method="get">
    <div class="row justify-content-md-center">
        <div class="col-3">
            <input name="name" style="font-size:14px" class="form-control" placeholder="Name" />
        </div>
        <div class="col-3">
            <input name="department" style="font-size:14px" class="form-control" placeholder="Department" />
        </div>
        <div class="col-3">
            <input name="course" style="font-size:14px" class="form-control" placeholder="Faculty" />
        </div>
        <div class="col-2">
            <input type="submit" value="Filter" class="btn btn-sm btn-orange" />
        </div>
    </div>
</form>

<table id="dtBasicExample" cellspacing="0"
       class="table table-striped table-bordered"
       style="width:100%">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Department</th>
            <th scope="col">Faculty</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @{ int counter = 1;
            foreach (var discipline in Model.Disciplines.OrderBy(x => x.Name))
            {
                <tr>
                    <td class="align-middle" align="center" scope="row">@counter</td>
                    <td class="align-middle" align="center">@discipline.Name</td>
                    <td class="align-middle" align="center">@discipline.Department</td>
                    <td class="align-middle" align="center">@discipline.Faculty</td>
                    <td class="align-middle">
                        <div class="row justify-content-center">
                            <form style="width:105px;" asp-action="DeleteDiscipline" asp-route-id="@discipline.Id" method="post">
                                <div class="row">
                                    <div class="col-4">
                                        <a class="btn btn-sm btn-primary" style="padding-left:10px; padding-right:10px; margin-top:5px;" asp-action="EditDiscipline" asp-route-id="@discipline.Id">Edit</a>
                                    </div>
                                    <div class="col-6">
                                        <input class="btn btn-sm btn-danger" style="padding-left:5px; padding-right:5px;" type="submit" value="Delete" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </td>
                    <td class="align-middle" align="center">
                        <form>
                            <input type="button" class="btn btn-sm btn-info"
                                   style="padding-left:15px; padding-right:15px;"
                                   data-toggle="modal"
                                   value="Info"
                                   data-target="#exampleModal"
                                   href="javascript:void(0)"
                                   onClick="disciplineDescriptionWindowModel('@discipline.Name', '@discipline.Description')" />
                        </form>
                    </td>
                </tr>
                counter++;
            }
        }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 ID="Name" class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-3">
                        <p id="ModalWindowId">Description:</p>
                    </div>
                    <div class="col-9">
                        <p ID="Description"></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-grey" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>