﻿@{
    ViewBag.Title = "List Tests";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Bootstrap Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <h2>Simple Collapsible</h2>
        <a href="#demo" class="btn btn-primary" data-toggle="collapse">Simple collapsible</a>
        <div id="demo" class="collapse">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
    </div>
    <div class="container">
        <a data-toggle="collapse" href="#demo">Students2</a>
        <div id="demo" class="collapse">
            <a asp-controller="Admin" asp-action="ListStudents">List</a>
        </div>
        <button data-toggle="collapse" data-target="#demo2">Collapsible</button>

        <div id="demo2" class="collapse">
            Lorem ipsum
        </div>
        <button data-toggle="collapse" data-target="#demo3">Collapsible2</button>

        <div id="demo3" class="collapse">
            Lorem ipsum2
        </div>

        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo4">Simple collapsible</button>
        <div id="demo4" class="collapse show">
            Lorem ipsum
        </div>
    </div>
</body>
</html>

