﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LNUDisciplinePicker</title>

    <script type="text/javascript" src="~/js/signalr/dist/browser/signalr.min.js"></script>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="~/css/mdb.min.css">
    <!-- Your custom styles (optional) -->
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Navbar.css" />
    <link href="~/css/addons/datatables.min.css" rel="stylesheet">
    <link href="~/css/addons/toastr.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark mx-background-top-linear">
            <div class="container">
                @if (User.Identity.Name != "admin.com")
                {
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index" style="text-transform: uppercase;"> LNUDisciplinePicker</a>
                }
                else
                {
                    <a class="navbar-brand" asp-controller="Admin" asp-action="ListDisciplineAvailabilities" style="text-transform: uppercase;"> LNUDisciplinePicker</a>
                }
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        @if (User.Identity.Name != "admin.com")
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="Index">Home</a>
                            </li>
                        }
                        @if (User.Identity.Name == "admin.com")
                        {
                            <li class="nav-item">
                                <a id="buttonMenu" class="nav-link" onclick="openNav()">Menu</a>
                            </li>
                        }
                        <li class="nav-item">
                            <form method="post" asp-controller="Account" asp-action="Logout">
                                <input type="submit" class="transButton" value="Log out" />
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-white">
        <div class="container">
            &copy; 2020 - LNUDisciplinePicker - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>


    <script type="text/javascript" src="~/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/popper.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/addons/datatables.min.js"></script>
    <script type="text/javascript" src="~/js/mdb.min.js"></script>
    <script type="text/javascript" src="~/js/toastr.min.js"></script>
    <script type="text/javascript" src="~/js/Admin.js"></script>
    <script type="text/javascript" src="~/js/SignalR.js"></script>


    <script>
        $(function () {
            const hubConnection = new signalR.HubConnectionBuilder()
                .withUrl("/notify")
                .build();

            hubConnection.on("Send", function (message) {
                toastr.options.timeOut = 0;
                toastr.options.extendedTimeOut = 0;
                toastr.options.closeButton = true;
                toastr.options.positionClass = 'toast-bottom-right';

                toastr.info(message);
            });

            hubConnection.start();
        });
    </script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
