﻿@model DisciplinePicker.Web.ViewModels.StudentViewModel

@{
    ViewData["Title"] = "Home Page";
}
@if (User.Identity.IsAuthenticated)
{
    <div class="container" style="min-height:298px">
        <div class="container" style="position: absolute; top: 50%; transform: translateY(-50%);">
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6 border border-light p-3 bg-light">
                            <h2>Profile</h2>
                            <p class="mb-1"><strong>Full Name:</strong> @Model.Name</p>
                            <p class="mb-1"><strong>Group:</strong> @Model.Group</p>
                            <p class="mb-1"><strong>Department:</strong> @Model.Department </p>
                            <p class="mb-1"><strong>Course:</strong> @Model.Course</p>
                            <p class="mb-1"><strong>Speciality:</strong> @Model.Speciality</p>
                    @if ((bool)ViewData["IsAvailable"])
                    {
                    <a 
                       class="btn btn-blue"
                       asp-controller="Discipline"
                       asp-action="ViewCatalog"
                       >Pick discipline</a>
                    }
                </div>
            </div>
        </div>
    </div>
}
else
{
<div class="container" style="min-height:118px">
    <div class="container" style="position: absolute; top: 50%; transform: translateY(-50%);">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 border border-light p-3 bg-light">
                <a class="btn btn-dark btn-block" asp-controller="Account" asp-action="Login">Log in</a>
            </div>
        </div>
    </div>
</div>
}

<style>
    .bg {
        /* The image used */
        background-image: url("~/img/start.jpg");
        /* Full height */
        height: 100%;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>