﻿@model DisciplinePicker.Web.ViewModels.LoginViewModel

    <div class="container" style="min-height:320px">
        <div class="container" style="position: absolute; top: 50%; transform: translateY(-50%);">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 bg-light p-3 mb-4">
                    <h2>Log in</h2>
                    <form method="post" asp-controller="Account" asp-action="Login"
                          asp-route-returnUrl="@Model.ReturnUrl">
                        <div asp-validation-summary="ModelOnly"></div>
                        <div>
                            <label asp-for="Login"></label><br />
                            <input asp-for="Login" class="form-control" />
                            <span asp-validation-for="Login"></span>
                        </div>
                        <div>
                            <label asp-for="Password"></label><br />
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password"></span>
                        </div>
                        <div class="pt-2">
                            <label asp-for="RememberMe"></label>
                            <input asp-for="RememberMe" />
                        </div>
                        <div>
                            <input type="submit" class="btn-dark btn-block" value="Log in" />
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

