﻿@model DisciplinePicker.Web.ViewModels.RegisterViewModel

<div class="container" style="min-height:438px">
    <div class="container" style="position: absolute; top: 50%; transform: translateY(-50%);">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 border border-light bg-light p-3 mb-4">
                <h2>Create a new user</h2>
                <form method="post" asp-controller="Account" asp-action="Register">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div>
                        <label asp-for="Name"></label><br />
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name"></span>
                    </div>
                    <div>
                        <label asp-for="Login"></label><br />
                        <input asp-for="Login" class="form-control" />
                        <span asp-validation-for="Login"></span>
                    </div>
                    <div>
                        <label asp-for="Password"></label><br />
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password"></span>
                    </div>
                    <div>
                        <label asp-for="PasswordConfirm"></label><br />
                        <input asp-for="PasswordConfirm" class="form-control" />
                        <span asp-validation-for="PasswordConfirm"></span>
                    </div>
                    <div class="pt-3">
                        <input type="submit" class="btn-dark btn-block" value="Register" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
