﻿@model DisciplinePicker.Web.ViewModels.DisciplinePickerViewModel
@using DisciplinePicker.Web.ViewModels
@using Microsoft.AspNetCore.Http.Extensions
@{
    ViewData["Title"] = "Catalog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-top: 15px;">
    <div>
        <br />
        <h3 class="d-inline">Виберіть дисципліну</h3>
        <div class="d-inline float-right">
            <div class="btn-group" role="group" aria-label="Basic example">
                <a class="btn btn-info btn-md @(Model.FilterViewModel.Semester == 1 ? "disabled" : "" )"
                   type="button"
                   asp-action="ViewCatalog"
                   asp-route-semester="1">1 семестр</a>
                <a class="btn btn-info btn-md @(Model.FilterViewModel.Semester == 2 ? "disabled" : "" )"
                   type="button"
                   asp-action="ViewCatalog"
                   asp-route-semester="2">2 семестр</a>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div>
        <form class="form" method="get" asp-route-semester="@Model.FilterViewModel.Semester">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="queryInput">Пошук</label>
                    <input id="queryInput" name="query" value="@Model.FilterViewModel.Query" type="text" class="form-control" />
                </div>
                <div class="form-group col-md-6">
                    <label for="facultySelect">Факультет</label>
                    <select id="facultySelect" name="faculty" asp-items="@Model.FilterViewModel.Faculties" class="form-control sm-3"></select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="submit" value="Пошук" class="btn btn-primary btn-md" />
                </div>
                <div class="form-group col-md-6 row justify-content-end">
                    <a class="btn btn-outline-blue btn-md" asp-route-semester="@Model.FilterViewModel.Semester">Очистити</a>
                </div>

            </div>
        </form>
    </div>
    <div>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">
                        <span>Ім'я</span>
                        <div class="btn-group-vertical btn-group-sm">
                            <a class="@(Model.SortViewModel.Order == PickerSortOrder.NameAsc ? "text-white-50" : "text-white") order-button"
                               data-toggle="tooltip" data-placement="top" title="За зростанням"
                               asp-route-sortOrder="@PickerSortOrder.NameAsc"
                               asp-route-query="@Model.FilterViewModel.Query"
                               asp-route-faculty="@Model.FilterViewModel.SelectedFaculty"
                               asp-route-semester="@Model.FilterViewModel.Semester">▲</a>
                            <a class="@(Model.SortViewModel.Order == PickerSortOrder.NameDesc ? "text-white-50" : "text-white") order-button"
                               data-toggle="tooltip" data-placement="top" title="За спаданням"
                               asp-route-sortOrder="@PickerSortOrder.NameDesc"
                               asp-route-query="@Model.FilterViewModel.Query"
                               asp-route-faculty="@Model.FilterViewModel.SelectedFaculty"
                               asp-route-semester="@Model.FilterViewModel.Semester">▼</a>
                        </div>
                    </th>
                    <th scope="col">
                        <span>
                            Факультет
                        </span>
                        <div class="btn-group-vertical btn-group-sm">
                            <a class="@(Model.SortViewModel.Order == PickerSortOrder.FacultyAsc ? "text-white-50" : "text-white") order-button"
                               data-toggle="tooltip" data-placement="top" title="За зростанням"
                               asp-route-sortOrder="@PickerSortOrder.FacultyAsc"
                               asp-route-query="@Model.FilterViewModel.Query"
                               asp-route-faculty="@Model.FilterViewModel.SelectedFaculty"
                               asp-route-semester="@Model.FilterViewModel.Semester">▲</a>
                            <a class="@(Model.SortViewModel.Order == PickerSortOrder.FacultyDesc ? "text-white-50" : "text-white") order-button"
                               data-toggle="tooltip" data-placement="top" title="За спаданням"
                               asp-route-sortOrder="@PickerSortOrder.FacultyDesc"
                               asp-route-query="@Model.FilterViewModel.Query"
                               asp-route-faculty="@Model.FilterViewModel.SelectedFaculty"
                               asp-route-semester="@Model.FilterViewModel.Semester">▼</a>
                        </div>
                    </th>
                    <th scope="col">
                        <span>
                            Лектор
                        </span>
                        <div class="btn-group-vertical btn-group-sm">
                            <a class="@(Model.SortViewModel.Order == PickerSortOrder.LecturerAsc ? "text-white-50" : "text-white") order-button"
                               data-toggle="tooltip" data-placement="top" title="За зростанням"
                               asp-route-sortOrder="@PickerSortOrder.LecturerAsc"
                               asp-route-query="@Model.FilterViewModel.Query"
                               asp-route-faculty="@Model.FilterViewModel.SelectedFaculty"
                               asp-route-semester="@Model.FilterViewModel.Semester">▲</a>
                            <a class="@(Model.SortViewModel.Order == PickerSortOrder.LecturerDesc ? "text-white-50" : "text-white") order-button"
                               data-toggle="tooltip" data-placement="top" title="За спаданням"
                               asp-route-sortOrder="@PickerSortOrder.LecturerDesc"
                               asp-route-query="@Model.FilterViewModel.Query"
                               asp-route-faculty="@Model.FilterViewModel.SelectedFaculty"
                               asp-route-semester="@Model.FilterViewModel.Semester">▼</a>
                        </div>
                    </th>
                    <th scope="col">
                        <span>
                            Кількість годин
                        </span>
                        <div class="btn-group-vertical btn-group-sm">
                            <a class="@(Model.SortViewModel.Order == PickerSortOrder.HoursAsc ? "text-white-50" : "text-white") order-button"
                               data-toggle="tooltip" data-placement="top" title="За зростанням"
                               asp-route-sortOrder="@PickerSortOrder.HoursAsc"
                               asp-route-query="@Model.FilterViewModel.Query"
                               asp-route-faculty="@Model.FilterViewModel.SelectedFaculty"
                               asp-route-semester="@Model.FilterViewModel.Semester">▲</a>
                            <a class="@(Model.SortViewModel.Order == PickerSortOrder.HoursDesc ? "text-white-50" : "text-white") order-button"
                               data-toggle="tooltip" data-placement="top" title="За спаданням"
                               asp-route-sortOrder="@PickerSortOrder.HoursDesc"
                               asp-route-query="@Model.FilterViewModel.Query"
                               asp-route-faculty="@Model.FilterViewModel.SelectedFaculty"
                               asp-route-semester="@Model.FilterViewModel.Semester">▼</a>
                        </div>
                    </th>
                    <th scope="col">
                        <span>
                            Зареєстровано
                        </span>
                        <div class="btn-group-vertical btn-group-sm">
                            <a class="@(Model.SortViewModel.Order == PickerSortOrder.CountRegisteredAsc ? "text-white-50" : "text-white") order-button"
                               data-toggle="tooltip" data-placement="top" title="За зростанням"
                               asp-route-sortOrder="@PickerSortOrder.CountRegisteredAsc"
                               asp-route-query="@Model.FilterViewModel.Query"
                               asp-route-faculty="@Model.FilterViewModel.SelectedFaculty"
                               asp-route-semester="@Model.FilterViewModel.Semester">▲</a>
                            <a class="@(Model.SortViewModel.Order == PickerSortOrder.CountRegisteredDesc ? "text-white-50" : "text-white") order-button"
                               data-toggle="tooltip" data-placement="top" title="За спаданням"
                               asp-route-sortOrder="@PickerSortOrder.CountRegisteredDesc"
                               asp-route-query="@Model.FilterViewModel.Query"
                               asp-route-faculty="@Model.FilterViewModel.SelectedFaculty"
                               asp-route-semester="@Model.FilterViewModel.Semester">▼</a>
                        </div>
                    </th>
                    <th class="justify-content-center">
                        <span>
                            Статус
                        </span>
                        <div class="btn-group-vertical btn-group-sm">
                            <a class="@(Model.SortViewModel.Order == PickerSortOrder.RegisteredAsc ? "text-white-50" : "text-white") order-button"
                               data-toggle="tooltip" data-placement="top" title="За зростанням"
                               asp-route-sortOrder="@PickerSortOrder.RegisteredAsc"
                               asp-route-query="@Model.FilterViewModel.Query"
                               asp-route-faculty="@Model.FilterViewModel.SelectedFaculty"
                               asp-route-semester="@Model.FilterViewModel.Semester">▲</a>
                            <a class="@(Model.SortViewModel.Order == PickerSortOrder.RegisteredDesc ? "text-white-50" : "text-white") order-button"
                               data-toggle="tooltip" data-placement="top" title="За спаданням"
                               asp-route-sortOrder="@PickerSortOrder.RegisteredDesc"
                               asp-route-query="@Model.FilterViewModel.Query"
                               asp-route-faculty="@Model.FilterViewModel.SelectedFaculty"
                               asp-route-semester="@Model.FilterViewModel.Semester">▼</a>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Disciplines == null || Model.Disciplines.Count() == 0)
                {
                    <tr>
                        <th colspan="6" class="text-center">
                            Нічого не знайдено
                        </th>
                    </tr>
                }
                else
                {
                    foreach (var i in Model.Disciplines)
                    {
                        <tr>
                            <th scope="col">
                                <span data-toggle="modal"
                                      class="btn-link"
                                      style="cursor: pointer;"
                                      data-target="#exampleModal"
                                      onClick="disciplineDataWindowModel('@i.Discipline.Name', '@i.Discipline.Description', '@i.Discipline.Department','@i.Discipline.Faculty', '@i.MinAllovedStudents', '@i.MaxAllovedStudents');">@i.Discipline.Name</span>
                                </th>
                                <th scope="col">
                                    @i.Discipline.Faculty
                                </th>
                                <th scope="col">
                                    @i.Lecturer.Name
                                </th>
                                <th scope="col">
                                    @i.Hours
                                </th>
                                <th>
                                    @i.DisciplineChoises.Count
                                </th>
                                <th>
                                    @if (Model.RegisteredDisciplines.FirstOrDefault(x => x.Id == i.Id) == null)
                                    {
                                        <a asp-route-returnUrl="@Context.Request.GetEncodedPathAndQuery()"
                                           asp-route-Id="@i.Id"
                                           asp-action="ChooseDiscipline"
                                           class="btn btn-success btn-md">
                                            Вибрати
                                        </a>
                                    }
                                    else
                                    {
                                        <a asp-route-returnUrl="@Context.Request.GetEncodedPathAndQuery()"
                                           asp-route-Id="@i.Id"
                                           asp-action="CancelChoice"
                                           class="btn btn-danger btn-md">
                                            Відмінити
                                        </a>
                                    }
                                </th>
                            </tr>
                        }
                    }
            </tbody>
        </table>
        <div class="row">
            <div class="row col-md-12 justify-content-end">
                <nav aria-label="...">
                    <ul class="pagination pagination-sm">
                        @for (int i = 1; i < Model.PageViewModel.TotalPages + 1; i++)
                        {
                            <li class="page-item @(Model.PageViewModel.PageNumber == i ? "active" : "")">
                                <a class="page-link"
                                   asp-route-sortOrder="@Model.SortViewModel.Order"
                                   asp-route-query="@Model.FilterViewModel.Query"
                                   asp-route-faculty="@Model.FilterViewModel.SelectedFaculty"
                                   asp-route-semester="@Model.FilterViewModel.Semester"
                                   asp-route-page="@i">@i</a>
                            </li>
                        }
                    </ul>
                </nav>
                <div />
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 ID="Name" class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-5">
                        <p id="ModalWindowId">Department</p>
                    </div>
                    <div class="col-7">
                        <p id="Department"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <p id="ModalWindowId">Faculty</p>
                    </div>
                    <div class="col-7">
                        <p id="Faculty"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <p id="ModalWindowId">Min allowed students</p>
                    </div>
                    <div class="col-7">
                        <p id="MinAllowedStudents"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <p id="ModalWindowId">Max allowed students</p>
                    </div>
                    <div class="col-7">
                        <p id="MaxAllowedStudents"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <p id="ModalWindowId">Description</p>
                    </div>
                    <div class="col-7">
                        <p ID="Description"></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-grey" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
