﻿@model DisciplinePicker.Web.ViewModels.DisciplineViewModel
@{
    ViewData["Title"] = "ViewDiscipline";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <div class="row">
        @Model.Name
    </div>
    <div class="row">
        @Model.Faculty
    </div>
    <div class="row">
        @Model.Department
    </div>
    <div class="row">
        @foreach(var i in Model.DisciplineAvailabilities)
        {
            <span>@i.Lecturer.Name</span>
        }
    </div>

</div>

